/* global */
:root {
  /* vars */
  --all-games-color: purple;
  --upcoming-games-color: blue;
  --playing-games-color: orange;
  --complete-games-color: green;
  --border-color: purple;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../assets/game_bg.jpg");
  background-size: cover;

  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 10% 10% 5% 10% 1fr;

  column-gap: 30px;
  box-shadow: inset 0 0 0 20px var(--border-color);
}

.title {
  grid-row: 1 / 2;
  grid-column: 2 / 3;

  display: flex;
  justify-content: center;
  align-items: end;
  gap: 2%;

  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dashboard {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.dashboard button {
  width: 200px;
  height: 50px;
}

.newGameContainer {
  /* parent styles */
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  background-color: blue;

  width: 100%;
  height: 100%;
}

main {
  /* child properties */
  grid-row: 4 / 5;
  grid-column: 2 / 3;

  /* parent properties */
  display: flex;
  justify-content: center;
  align-items: center;
}

main h2 {
  flex: 1;
  text-align: center;
  font-size: 40px;

  /* background-color: white; */
}

section {
  /* child styles */
  grid-row: 5 / 6;
  grid-column: 2 / 3;

  justify-self: center;
}