/* style.css */
body {
  background-color: rgb(121, 93, 150);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.itemContainer, .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.itemContainer {
  border: black solid 2px;
  padding: 5px;
  margin: 5px;
}

.header {
  font-size: 24px;
  font-weight: bold;
}

.itemContainer p, .header p {
  padding: 0 50px;
}